
html {
    scroll-behavior: smooth;
  }
  body{
    background-size:auto;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
.container {
    width: 100%;
    margin: auto;
    position: static;
    
    padding: 10px 12px;
 background: #0A1B3D;
  }
  
  .nav {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    
  }
  .nav ul {
    display: flex;
  }
  .nav ul li {
    padding: 10px;
  }
  .nav-menu {
    margin: 10px;
  }
  
  .nav-menu a {
    color: #aaa;
    font-family: "Montserrat Alternates";
    font-size: 18px;
  }
  .nav-menu a.activo,
  .nav-menu a:hover {
    color: #fff;
    cursor: pointer;
  }
  .logo {
    font-size: 35px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:#fff;
  }  